<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="/"  onclick = $("#menu-close").click(); >Franziska Gündert</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Start</a>
    </li>
    <li>
      <a href="#termine" onclick = $("#menu-close").click(); >Termine</a>
    </li>
    <li>
      <a href="#vita" onclick = $("#menu-close").click(); >Vita</a>
    </li>
    <li>
      <a href="#media" onclick = $("#menu-close").click(); >Medien</a>
    </li>
    <li>
        <a href="#stimmbildung" onclick = $("#menu-close").click(); >Stimmbildung</a>
      </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Kontakt</a>
    </li>
  </ul>
</nav>
